.head {
    display: flex;
    justify-content: space-between;
    color: white;
}


.card {
   border-radius: 0.75rem;
   color: whitesmoke;
   background: #121212;
   align-items: center;
   position: relative;
   box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
   transition: all 0.3s ease-out;
   text-decoration: none;
}

.card:hover {
   transform: translateY(-5px) scale(1.005) translateZ(0);
   box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
      0 24px 46px var(--box-shadow-color);
}

.card-details {
   padding: 1rem;
}

.name {
   font-size: 1.25rem;
}

.card-about {
   margin-top: 1rem;
   display: grid;
   grid-auto-flow: column;
}

.item {
   display: flex;
   flex-direction: column;
   margin-bottom: 0.5rem;
}

.label {
    margin-top: 0.15rem;
    font-size: 0.75rem;
    font-weight: 600;
    color: #ff1ead;
}

.value {
    font-size: 1rem;
}

.price {
   font-size: 1.5rem;
}