header {
    background: #000000;
    color: white;
}

.slds-modal__content {
    background: #121212;
    font-weight: 600;
    color: white;
}

label {
    float: left;
    width: 200px;
    font-size: 0.75rem;
}

span {
    margin-left: 200px;
    display: block;
    font-size: 1rem;
}